VTU
{
 margin-left:30%;
 background-color:yellow;
}
student
{
display:block;
}

name
{
display:block;
color:blue;
}

college
{
display:block;
color:brown;
}

e-mail
{
display:block;
color:green;
}

year
{
display:block;
color:orange;
}

branch
{
display:block;
color:black;
}


